html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #9C27B0;
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2, h3 {
  color: #FFCE00;
  font-family: "Staatliches", cursive;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__logo {
  margin: 3rem;
  width: 60%;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
.navigation__link:last-of-type {
  margin-right: initial;
}

.footer {
  margin-top: 2rem;
  padding: 1rem 0;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(16, auto);
  gap: 2rem;
}
@media (min-width: 728px) {
  .grid-container {
    display: grid;
    grid: auto/repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 728px) {
  .graphic {
    min-height: 30rem;
  }
  .graphic > img {
    min-height: 100%;
  }
}
.graphic-left {
  grid-row: 3/4;
}
@media (min-width: 728px) {
  .graphic-left {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.graphic-right {
  grid-row: 14/15;
}
@media (min-width: 728px) {
  .graphic-right {
    grid-row: 8/9;
    grid-column: 1/3;
  }
}
@media (min-width: 992px) {
  .graphic-right {
    grid-row: 5/6;
    grid-column: 2/4;
  }
}

.product {
  padding: 1rem;
}
.product__name, .product__price {
  margin: 1rem 0;
}

.about {
  display: grid;
  gap: 2rem;
}
@media (min-width: 728px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__image {
  grid-row: 1/2;
}

.about__content {
  grid-column: 1/2;
}

.about__image {
  grid-column: 2/3;
}

.blocks {
  display: grid;
  grid: repeat(2, auto)/repeat(2, auto);
  gap: 1rem;
}
@media (min-width: 728px) {
  .blocks {
    display: grid;
    grid: auto/repeat(4, auto);
  }
}
.blocks .block {
  text-align: center;
}
.blocks .block > .blocks .block__header {
  margin: 0;
}

@media (min-width: 728px) {
  .clothe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.clothe__image {
  margin: 1rem 0;
}

.form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
@media (min-width: 552px) {
  .form {
    display: grid;
    grid: repeat(2, 1fr)/repeat(2, 1fr);
  }
}
.form__field {
  padding: 1rem;
}

.form__submit {
  grid-column: 1/-1;
  padding: 2rem;
}

.navigation {
  background-color: #89119D;
}
.navigation__link {
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  color: #FFF;
}

.footer {
  background-color: #89119D;
}
.footer__text {
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  text-align: center;
}

.product {
  background-color: #89119D;
}
.product__name {
  font-size: 4rem;
}

.product__price {
  font-size: 2.8rem;
  color: #FFCE00;
}

.product__name, .product__price {
  font-family: "Staatliches", cursive;
  text-align: center;
  line-height: 1.2;
}

.block {
  text-align: center;
}

.form__field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  outline: none;
  appearance: none;
  border: 1rem solid #89119D;
  background-color: transparent;
  color: #FFF;
}
.form__field::placeholder {
  color: #FFF;
}

.form__field > option {
  color: initial;
}

.form__submit {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  border: none;
  background-color: #FFCE00;
}

.container {
  margin: 0 1rem;
  max-width: 110rem;
}
@media (min-width: 1140px) {
  .container {
    margin: 0 auto;
  }
}

.navigation__link:hover, .navigation__link--active {
  color: #FFCE00;
}

.form__submit {
  transition: background-color 0.5s ease;
}
.form__submit:hover {
  cursor: pointer;
  background-color: #ECB900;
}

/*# sourceMappingURL=app.css.map */
