//////////////// 
// VARIABLES // 
/////////////// 

/////////////////// 
// ** COLORS ** // 
//////////////////
$primary-100: #9C27B0;
$primary-200: #89119D;
$secundary-100: #FFCE00;
$secundary-200: #ECB900;

///////////////////// 
// ** NEUTRALS ** // 
//////////////////// 
$white: #FFF;
$black: #000;

////////////////// 
// ** FONTS ** // 
///////////////// 
$main-font: 'Staatliches', cursive;
$secundary-font: Arial, Helvetica, sans-serif;