// *** MEMBERS *** // 
@use '../members/theme' as thm;
@use '../members/mixins' as mx;

// *** GENERAL *** //

/////////////////
// NAVIGATION // 
////////////////
.navigation {
    @at-root {
        &__link:hover,
        &__link--active { color: thm.$secundary-100; }
    }
}

// *** PRODUCT *** // 

///////////  
// FORM //
//////////
.form {
    @at-root {
        &__submit {
            transition: background-color .5s ease;

            @at-root {
                &:hover {
                    cursor: pointer;
                    background-color: thm.$secundary-200;
                }
            }
        }
    }
}