// *** MEMBERS *** // 
@use '../members/theme' as thm;
@use '../members/mixins' as mx;

// *** GENERAL *** //

/////////////////
// NAVIGATION // 
//////////////// 
.navigation {
    background-color: thm.$primary-200;

    @at-root {
        &__link {
            font: 
            {
                family: thm.$main-font;
                size: 3rem;
            }
            color: thm.$white;
        }
    }
}

///////////// 
// FOOTER // 
////////////
.footer {
    background-color: thm.$primary-200;

    @at-root {
        &__text { 
            font: 
            {
                family: thm.$main-font;
                size: 2.2rem;
            } 
            text-align: center;
        }
    }
}

// *** INDEX *** //

//////////////
// PRODUCT // 
/////////////
.product {
    background-color: thm.$primary-200;
    
    @at-root {
        &__name { font-size: 4rem; }

        &__price {
            font-size: 2.8rem;
            color: thm.$secundary-100;
        }

        &__name,
        &__price {
            font-family: thm.$main-font;
            text-align: center;
            line-height: 1.2;
        }
    }
}

// *** ABOUT US *** //

/////////////
// BLOCKS // 
////////////
.block { text-align: center; }

// *** PRODUCT *** // 

///////////  
// FORM //
//////////
.form {
    @at-root {
        &__field {
            font: 
            {
                family: thm.$secundary-font;
                size: 2rem;
            }
            outline: none;
            appearance: none;
            border: 1rem solid thm.$primary-200;
            background-color: transparent;
            color: thm.$white; 
    
            @at-root {
                &::placeholder { color: thm.$white; }
                
                & > option { color: initial; }
            }   
        }

        &__submit {
            font:  
            {
                family: thm.$main-font;
                size: 2rem;
            }
            border: none;
            background-color: thm.$secundary-100;
        }
    }
}