// *** MEMBERS *** // 
@use '../members/theme' as thm;
@use '../members/mixins' as mx;

// *** GENERAL *** //

///////////// 
// HEADER // 
//////////// 
.header {
    @include mx.flexbox($justify: center);
    text-align: center;

    @at-root {
        &__logo { 
            margin: 3rem; 
            width: 60%;
        }
    }
}

/////////////////
// NAVIGATION // 
//////////////// 
.navigation {
    @include mx.flexbox($justify: center, $gap: 2rem);
    padding: 1rem 0;

    @at-root {
        &__link:last-of-type { margin-right: initial }
    }
}

///////////// 
// FOOTER // 
////////////
.footer {
    margin-top: 2rem;
    padding: 1rem 0;
}

// *** INDEX *** // 

///////////////////////
// GRID - CONTAINER // 
////////////////////// 
.grid-container {
    @include mx.grid($rows: repeat(16, auto), $gap: 2rem);
    @include mx.small-tablet {
        @include mx.grid($rows: auto, $columns: repeat(auto-fit, minmax(300px, 1fr)));
    }
}

/////////////// 
// GRAPHICS // 
////////////// 
.graphic {
    @include mx.small-tablet {
        min-height: 30rem;

        & > img { min-height: 100%; }
    }

    @at-root {
        &-left { 
            grid-row: 3 / 4;
            @include mx.small-tablet {
                grid: 
                {
                    row: 2 / 3;
                    column: 1 / 3;
                }
            }
        }

        &-right { 
            grid-row: 14 / 15;
            @include mx.small-tablet {
                grid: 
                {
                    row: 8 / 9;
                    column: 1 / 3;
                }
            }
            @include mx.big-tablet {
                grid:  
                {
                    row: 5 / 6;
                    column: 2 / 4;
                }
            }
        }
    }
}

//////////////
// PRODUCT // 
/////////////
.product {
    padding: 1rem;

    @at-root {
        &__name,
        &__price {
            margin: 1rem 0;
        }
    }
}

// *** ABOUT US *** // 

////////////
// ABOUT // 
///////////
.about {
    @include mx.grid($gap: 2rem);
    @include mx.small-tablet { 
        @include mx.grid($columns: repeat(2, 1fr)); 
    }

    @at-root {
        &__image { grid-row: 1 / 2; }

        &__content { grid-column: 1 / 2; }
    
        &__image { grid-column: 2 / 3; }
    }
}

/////////////
// BLOCKS // 
////////////
.blocks {
    $layout: repeat(2, auto);
    @include mx.grid($rows: $layout, $columns: $layout, $gap: 1rem);
    @include mx.small-tablet { 
        @include mx.grid($rows: auto, $columns: repeat(4, auto)); 
    }

    .block { 
        text-align: center;

        @at-root { 
            & > &__header { margin: 0; }
        }
    }
}

// *** PRODUCT *** //

/////////////
// CLOTHE // 
////////////
.clothe {
    @include mx.small-tablet {
        @include mx.grid($columns: repeat(2, 1fr), $gap: 2rem);
    }

    @at-root {
        &__image { margin: 1rem 0; }
    }
}

/////////// 
// FORM //
//////////
.form {
    @include mx.grid($rows: repeat(3, 1fr), $gap: 1rem);
    @include mx.smartphone { 
        $layout: repeat(2, 1fr);
        @include mx.grid($rows: $layout, $columns: $layout);
    }

    @at-root {
        &__field { padding: 1rem; }

        &__submit {
            grid-column: 1 / -1;
            padding: 2rem;
        }
    }
}