/** VARIABLES **/
:root {
    /** COLORS **/
    --primary: #FFC107;
    --secundary: #0097A7;

    /** NEUTRALS **/
    --gray-100: #ECECEC;
    --gray-200: #757575;
    --white: #FFF;
    --black: #212121;
}

/** GLOBAL **/
html {
    font-size: 62.5%;
    box-sizing: border-box; 
    scroll-snap-type: y proximity;
}

*, 
*::before, 
*::after { box-sizing: inherit; }

body { 
    font-family: 'Krub', sans-serif;
    font-size: 16px; 
    background-image: linear-gradient(to top, var(--gray-100) 0%, var(--white) 100%);
}

ul {
    padding: 0;
    list-style: none;
}

a { text-decoration: none; }

/** SCROLL SNAP **/
.navigation,
.services,
.form,
.footer  {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/** UTILITIES **/
.container {
    margin: 2rem auto;
    max-width: 110rem;
}

.bg-nav { background-color: var(--secundary); }

.button {
    margin-top: 1rem;
    width: 90%;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
    background-color: var(--secundary);
    color: var(--white);
}

@media (min-width: 768px) {
    .button { width: auto; }
}

.button:hover { cursor: pointer; }

.shadow {
    padding: 2rem;
    -webkit-box-shadow: 0 .5rem 1.5rem 0 rgba(112, 112, 112, 0.48);
    -moz-box-shadow: 0 .5rem 1.5rem 0 rgba( 112, 112, 112, 0.48);
    box-shadow: 0 .5rem 1.5rem 0 rgba(112, 112, 112, 0.48);
    border-radius: 1rem;
    background-color: var(--white);
}

/** TYPOGRAPHY **/
h1 { font-size: 3.8rem; }

h2 { font-size: 2.8rem; }

h3 { font-size: 1.8rem; }

h1, h2, h3 { text-align: center; } 

/** HEADERS **/
.header span {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--secundary);
}

@media (min-width: 480px) {
    .header span {
        display: initial;
        margin: initial;
    }
}

/** NAVIGATION **/
.navigation {
    display: flex;  
    flex-direction: column;
}

@media (min-width: 768px) {
    .navigation { flex-direction: initial; }

    .navigation > * { flex-grow: 1; }
}

.navigation__item a {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

.navigation__item a:hover {
    background-color: var(--primary);
    color: var(--black);
}

/** HERO **/
.hero {
    position: relative;
    height: 45rem;
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.hero__content h2,
.hero__content p { color: var(--white); }

.hero__location {
    display: flex;
    align-items: flex-end;
}

/** MAIN **/
main.container {
    margin: 3rem auto;
    width: 95%;
    padding: 3rem;
}

/** SERVICES **/
.services {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }  
}

.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__card h3 { color: var(--secundary); }

.services__card p {
    text-align: center;
    line-height: 2;
}

.services__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--primary);
}

/** CONTACT **/
.form {
    margin: 0 auto;
    width: min(60rem, 100%); 
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--gray-200);
}

.form fieldset { border: none; }

.form legend {
    margin: 2rem auto;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}

.container__fields {
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    .container__fields {
        grid: repeat(2, auto) 20rem / repeat(2, 1fr);
    }

    .field:nth-child(3),
    .field:nth-child(4) { grid-column: 1 / -1; }
}

.field label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--white);
}

.field textarea {
    width: 100%;
    height: 20rem;
    padding: 1.5rem;
    resize: none;
    outline: none;
    border: none;
    border-radius: 1rem;
}

.field input {
    width: 100%;
    padding: 1.5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
}

.form input[type="submit"] {
    margin-top: 2rem; 
    width: 100%;
}

@media (min-width: 768px) {
    .form input[type="submit"] { 
        margin-top: 4rem; 
        width: auto;
    }
}

.form-footer {
    display: flex;
    justify-content: flex-end;
}

/** FOOTER **/
.footer { text-align: center; }