///////////// 
// MIXINS // 
////////////
@mixin box-model($box-sizing) {
    box-sizing: $box-sizing;
}

@mixin smartphone {
    @media (min-width: 552px) { @content; }
}

@mixin small-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin big-tablet {
    @media (min-width: 992px) { @content; }
}

@mixin desktop {
    @media (min-width: 1140px) { @content; }
}

@mixin flexbox($direction: false, $wrap: false, $justify: false, $align: false, $gap: false) {
    display: flex;
    @if $direction and $wrap {
        flex-flow: $direction $wrap;
    } @else if $direction { 
        flex-direction: $direction; 
    } @else if $wrap { 
        flex-wrap: $wrap; 
    }
    @if $justify { justify-content: $justify; }

    @if $align { align-items: $align; }

    @if $gap { gap: $gap; }
}

@mixin grid($columns: false, $rows: false, $flow: false, $plc-content: false, $plc-items: false, $gap: false) {
    display: grid;
    @if $columns and $rows {
        grid: $rows / $columns;
    } @else if $columns {
        grid-template-columns: $columns;
    } @else if $rows {
        grid-template-rows: $rows;
    }

    @if $flow { grid-auto-flow: $flow; } 

    @if $plc-content { place-content: $plc-content; }

    @if $plc-items { place-items: $plc-items; }

    @if $gap { gap: $gap; }
}