//////////////// 
// VARIABLES // 
/////////////// 

/////////////////// 
// ** COLORS ** // 
//////////////////
$primary: #784D3C;

///////////////////// 
// ** NEUTRALS ** // 
//////////////////// 
$gray-100: #E1E1E1;
$white: #FFF;
$black: #000;

////////////////// 
// ** FONTS ** // 
/////////////////
$primary-font: "Pt Sans", sans-serif;
$secundary-font: "Open Sans", sans-serif; 

//////////////////// 
// ** EXTENDS ** // 
/////////////////// 
%fw-400 { font-weight: 400; }
%fw-700 { font-weight: 700; }