// *** MEMBERS *** // 
@use '../members/theme' as thm;
@use '../members/mixins' as mx;

////////////////
// UTILITIES // 
/////////////// 
.container {
    margin: 0 auto;
    width: min(90%, 110rem);
}

.main-content {
    @include mx.small-tablet {
        @include mx.grid($columns: 2fr 1fr, $gap: 4rem);
    }
}

.no-margin { margin: 0; }

.no-padding { padding: 0; } 

.txt-center { text-align: center; }

.button {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    font: 
    {
        family: thm.$primary-font;
        size: 1.8rem;
    }
    @extend %fw-700;
    border: none;
    color: thm.$white;
    text: 
    {
        align: center;
        transform: uppercase;
    }
    @include mx.small-tablet { display: inline-block; }

    @at-root {
        &:hover { cursor: pointer; }
    }
}

.primary-btn { background-color: thm.$black; }

.secundary-btn { background-color: thm.$primary; }